/*Common styles*/
body{
  font-family: Roboto, Raleway, sans-serif;
  }
  /*Reset*/
  ul,
  ol{
    list-style: none;
  }
  a{
    text-decoration: none;
    color: currentColor;
  }
  button{
    font-family: inherit;
    cursor: pointer;
  }
/*Header styles*/
.header {
}
.heder-nav {
}
.header-logo {
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
color: #2E2F42;
}
.header-logo-web{
  font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4D5AE5;
}
.header-list {
}
.header-item {
}
.header-link {
  font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.header-address {
}
.header-address-list {
}
.header-address-item {
}
.header-address-link {
  font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.section {}

.hero {}

.hero-title {
  font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.hero-btn {
  font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #4D5AE5;
}


.section {}

.business {}

.business-title {}

.business-list {}

.business-item {}

.business-item-title {}

.business-item-text {}


.section {}

.doing {}

.doing-title {}

.doing-list {}

.doing-item {}

.doing-img {}


.section {}

.team {}

.team-title {}

.team-list {}

.team-item {}

.team-img {}

.team-item-title {}

.team-item-text {}


.footer {}

.footer-link {}

.footer-text {}