/*Common styles*/
:root {
--main-dark-col: #2E2F42;
--whit-title-col: #FFFFFF;
--accent-col: #4D5AE5;
--text-col: #434455;
--team-bg-col: #F4F4FD;
--whit-bg-col: #E5E5E5;
--portfolio-bt-col: #E7E9FC;

}
body{
  font-family: Roboto, sans-serif;
  }
  /*Reset*/
  
/*Header styles*/
.header {}
.heder-nav {}
.header-logo {}
.header-logo-web {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--accent-col);
}
.header-logo-studio {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--main-dark-col);
}
.header-list {}
.header-item {}
.header-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-dark-col);
}
.header-address {}
.header-address-list {}
.header-address-item {}
.header-address-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-col);
}

/*Section hero styles*/
.section {
  
}
.hero {background: var(--main-dark-col);
}
.hero-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--whit-title-col);
}
.hero-btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
    color: var(--whit-title-col);
    background: var(--accent-col);
}

/*Section business styles*/
.section {}
.business {}
.business-title {}
.business-list {}
.business-item {}
.business-item-title {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--main-dark-col);
}
.business-item-text {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--text-col);
}

/*Section doing styles*/
.section {}
.doing {}
.doing-title {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--main-dark-col);
}
.doing-list {}
.doing-item {}
.doing-img {}

/*Section team styles*/
.section {
background: var(--team-bg-col)
}
.team {}
.team-title {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--main-dark-col);
}
.team-list {}
.team-item {}
.team-img {}
.team-item-title {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
color: var(--main-dark-col);
}
.team-item-text {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: var(--text-col);
}

/*Footer styles*/
.footer {
  background: var(--main-dark-col);
}
.footer-logo {}
.footer-logo-web {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-col);
}
.footer-logo-studio {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--team-bg-col);
}